button {
    color: white;
    background-color: #282c34;
    padding: 6px 11px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid gray;
}