.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.keys,
.values {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  margin-bottom: 30px;

  .key {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }
}

.values {
  margin-bottom: 30px;

  .value {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
