.wrapper {
    margin: 30px 40px 100px 40px;
}

.listWrapper {
    display: flex;
    margin-left: 90px;
}

.logo {
    color: white;
    text-decoration: none;
}

.nav{
    display: flex;
}

.navItem {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;

    &Link {
        text-decoration: none;
        color: white;
        font-size: .8em;
    }
}